---

import type {Props} from "./types"

import CTAs from "@/components/ctas/index.astro"
import Media from "@/components/media/index.astro"

const { heading, copy, ctas, media } = Astro.props
---


<section class="hero relative min-h-[400px] py-8 flex">
    <div class="relative container flex flex-col justify-center items-center flex-grow gap-3">
        <h1 class="max-w-prose text-center"> {heading} </h1>
        { copy && (
            <p class="max-w-prose text-center md:text-lg"> {copy} </p>
        )}
        
        {ctas && ctas.length && ( <CTAs ctas={ctas} /> )}

    </div>


    {media && (
        <div class="absolute top-0 left-0 w-full h-full -z-10"> 
            <Media media={media} config={{autoplay: true, muted: true, controls: false, loop: true}}/>
        </div>
    )}
</section>