---

import type {Props} from "./types"

import CTAs from "@/components/ctas/index.astro"
import Media from "@/components/media/index.astro"

const { heading, copy, ctas, media, class: className } = Astro.props
 
---


<section class:list={["has-gradient relative py-8 flex min-h-[200px] md:min-h-[350px] text-white", className]}>
    <div class="relative container flex flex-col justify-center items-center grow  ">
        <div class="flex flex-col max-w-5xl text-center gap-4">
            <h1 > {heading} </h1>
            { copy && (
                <p class="max-w-prose text-center md:text-lg mx-auto"> {copy} </p>
            )}
            
            {ctas && ctas.length > 0 && ( <CTAs ctas={ctas} /> )}

            <slot />            
        </div> 
    </div>


    {media && (
        <div class="absolute top-0 left-0 w-full h-full -z-10"> 
            <Media media={media} config={{autoplay: true, muted: true, controls: false, loop: true}}/>
        </div>
    )}
</section>