---
import type { Props } from './types';

const { type, variant, label, disabled }: Props = Astro.props;

---

<button type={type} class={`button ${variant}`} aria-label={label} disabled={disabled}> {label} </button>