---
import type { Props } from './types';

const { type, variant, label, disabled, class: className}: Props = Astro.props;

---

<button type={type} class={`button ${variant} ${className}`} aria-label={label} disabled={disabled}> {label} </button>