---

import Anchor from "@/components/anchor/index.astro"
import Blocks from "@/components/blocks/index.astro"
import { Image } from 'astro:assets'

const { heading, subheading, copy, ctas, media } = Astro.props

---


<section class="relative py-8 md:py-12 lg:py-16 flex">
    <div class="relative container grid grid-cols-1 auto-rows-auto gap-4 lg:grid-cols-2 lg:items-center gap-8">
        <div class="flex flex-col justify-start gap-3">
            { subheading && <span> {subheading} </span> }
            
            <h2> {heading} </h2>

            { copy && (
                <Blocks content={copy} class="flex flex-col justify-start gap-3"/> // Replace with strpi block editor
            )}
    
            {ctas && ctas.length && (
                <div class="flex mt-6 gap-6">
                    {ctas.map(cta => (
                        <Anchor href={cta.href} variant={cta.style ?? 'primary'} label={cta.label}/>
                    ))}
                </div>            
            )}
            
        </div>
        {media && (
            <Image src={`http://localhost:1337${media.url}`} alt={media.alternativeText ?? ''} width={media.width} height={media.height} class="w-full aspect-5/3 object-cover rounded"/>
        )}
    </div>
</section>