---
import type { Props } from "./types"
import Anchor from "@/components/anchor/index.astro"
import Blocks from "@/components/blocks/index.astro"
import CTAs from "@/components/ctas/index.astro"
import Media from "@/components/media/index.astro"
import Composite from "@/components/composite/index.astro"

const { heading, subheading, copy, ctas, media, reverseOrder = false} = Astro.props

---

<cta-section>
    <Composite>
        <div class="relative grid grid-cols-1 auto-rows-auto gap-4 lg:grid-cols-2 lg:items-center gap-8">
            <div class="cta-section-text flex flex-col justify-start gap-3">
                { subheading && <span> {subheading} </span> }
                
                <h2> {heading} </h2>

                { copy && (
                    <Blocks content={copy} class="text-base lg:text-lg"/>  
                )}
        
                {ctas && ctas.length > 0 && ( <CTAs ctas={ctas} /> )}
                
                
            </div>
            {media && (
                <div class={`cta-section-media w-full aspect-video overflow-hidden rounded ${ reverseOrder ? 'lg:order-first' : '' }`}> 
                    <Media media={media} config={{class: "rounded", autoplay: false, controls: true}} />
                </div>
            )}
            
        </div>
    </Composite>
</cta-section>

<script>
    import { inView, animate  } from "motion"

    
	class CTASection extends HTMLElement {
		constructor() {
			super();
        }

        connectedCallback() { 

            inView(this, (target) => {
                console.log(target.querySelector(".cta-section-text"))

                animate(
                    target.querySelector(".cta-section-text"),
                    { opacity: [0, 1]},
                    { duration: 1, easing: "ease"}
                );

                animate(
                    target.querySelector(".cta-section-media"),
                    { opacity: [0, 1]},
                    { duration: 1, easing: "ease"}
                );
            });
        }
    }

    
	customElements.define('cta-section', CTASection);


</script>