---
import type { Props } from "./types"
import Anchor from "@/components/anchor/index.astro"
import Blocks from "@/components/blocks/index.astro"
import CTAs from "@/components/ctas/index.astro"
import Media from "@/components/media/index.astro"

const { heading, subheading, copy, ctas, media } = Astro.props

---


<section class="relative py-8 md:py-12 lg:py-16 flex">
    <div class="relative container grid grid-cols-1 auto-rows-auto gap-4 lg:grid-cols-2 lg:items-center gap-8">
        <div class="flex flex-col justify-start gap-3">
            { subheading && <span> {subheading} </span> }
            
            <h2> {heading} </h2>

            { copy && (
                <Blocks content={copy}/>  
            )}
    
            {ctas && ctas.length > 0 && ( <CTAs ctas={ctas} /> )}
            
            
        </div>
        {media && (
            <div class="w-full aspect-5/3 overflow-hidden rounded"> 
                <Media media={media} config={{class: "rounded", autoplay: false, controls: true}} />
            </div>
        )}
        
    </div>
</section>