---
export const prerender = false
import GenericLayout from "@/layouts/generic.astro"
import useStrapi from "@/utils/strapi"
import ContactForm from "@/components/contactForm/index.astro"
import Blocks from "@/components/blocks/index.astro" 
import Media from "@/components/media/index.astro" 
import Anchor from "@/components/anchor/index.astro"
import DynamicZone from "@/components/dynamicZone/index.astro"
import { Icon } from "astro-icon/components"
const { treatment } = Astro.params

const response = await useStrapi.collection('treatments').find({
    filters: {
        slug: {
            $eq: treatment
        }
    },
    pagination: {
      pageSize: 1,
    },
    populate: {
        thumbnail: {
            populate: '*'
        },
        composites: {
            on: { 
                'composites.cta-section': {
                    populate: "*",
                },
                'composites.generic-content': {
                    populate: "*",
                },
                'composites.accordions': {
                    populate: "*",
                },
                'composites.contact-form': {
                    populate: "*",
                },
                'composites.testimonials': {
                    populate: "*", 
                },
                'composites.card-display': {
                    populate: { 
                        'cards': {
                        populate: "*"
                        }, 
                    }
                }
            },
        }
    }
})

const data = response.data[0]

const { title, excerpt, price, duration, thumbnail, composites, bestFor } = data;

let durationString = '';

if(duration) {
    const [ h, m, s ] = duration.split(":")

    const hours = parseInt(h)
    const mins = parseInt(m) 
    
    if( hours > 1) { 
        durationString += hours > 1 ? `${hours}h  ` : `${hours}h `
    }

    if( mins >= 1 || hours == 1) {
        durationString += hours == 1 ? `60m` : `${mins}m`
    }
}

---

<GenericLayout >  

        <div class="relative has-gradient min-h-[200px] md:min-h-[350px] overflow-hidden text-white flex flex-col justify-center py-12">
            <div class="relative container grid grid-cols-1 lg:grid-cols-[2fr_1fr] justify-items-start z-10 py-4 gap-y-6">
                <div class="col-start-1 lg:row-start-1 xl:row-start-1 flex flex-col justify-start gap-2 z-11">
                    <Anchor href={"/treatments"} variant="inline" icon="mdi:arrow-left-thin" label="Back to treatments" />
                </div>

                <div class="col-start-1 lg:row-start-2 xl:row-start-1 flex flex-col justify-center items-start  gap-2 grow">
                    <h1> {title} </h1>
                    <p class="md:text-xl"> { excerpt } </p>                        
                </div> 
                <div class="flex flex-col justify-center gap-2 mt-2 w-full lg:row-span-2 lg:row-start-1 xl:row-start-1 xl:row-span-1">  
                    <ul class="relative flex flex-col md:grid md:grid-cols-[1fr_2fr_1fr] lg:flex justify-center grow p-4 gap-4 md:p-6 overflow-hidden  bg-white text-primary-text shadow-2xl z-10 rounded"> 
                        <li class="flex flex-col justify-center items-start gap-0.5 w-full md:w-auto lg:w-full"> 
                            <span class="flex text-sm items-center gap-1"> <Icon name="mdi:clock-outline" class="w-5 h-5"/> Duration </span>
                            <span class="text-lg md:text-xl font-medium"> {durationString} </span>
                        </li>
                        <li class="flex flex-col justify-center items-start gap-0.5 w-full md:w-auto lg:w-full"> 
                            <span class="flex text-sm items-center gap-1"> <Icon name="mdi:account-star-outline" class="w-5 h-5"/> Best for </span>
                            <span class="text-lg md:text-xl font-medium"> {bestFor} </span>
                        </li>
                        <li class="flex flex-col justify-center items-start gap-0.5 w-full md:w-auto lg:w-full"> 
                            <span class="flex text-sm items-center gap-1"> <Icon name="mdi:tag-outline" class="w-5 h-5"/> Price </span>
                            <span class="text-lg md:text-xl font-medium"> £{price} </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <DynamicZone composites={composites} />

    <section class="mb-24">
        <div class="container">
            <div class="relative rounded overflow-hidden has-gradient flex flex-col justify-center items-center py-12">
                <div class="z-10 text-white flex flex-col justify-center items-center gap-4 ">
                    <h2> Ready to get started? </h2>
                    <p class="text-xl text-center px-4"> Getting the right treatment that's right for you couldn't be easier. </p> 

                    <Anchor href={"/booking"} variant="primary" label="Book a session"/>
                </div>
                
            </div> 
        </div>
    </section>
</GenericLayout>
